@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  min-height: 100vh;
}

::selection {
  background-color: #0ea5e9;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}